// Copyright (c) 2024 Osyah
// SPDX-License-Identifier: MIT

@import './osyka_font.styl'

.OsykaElement
	box-sizing border-box
	margin unset
	padding unset
	color inherit
	background-color unset
	border unset
	OsykaFontApply(bodyMedium)