// Copyright (c) 2024 Osyah
// SPDX-License-Identifier: MIT

OsykaSchemeDict = {
	background: var(--OsykaScheme_background),
	onBackground: var(--OsykaScheme_onBackground),
	surface: var(--OsykaScheme_surface),
	surfaceDim: var(--OsykaScheme_surfaceDim),
	surfaceBright: var(--OsykaScheme_surfaceBright),
	surfaceContainerLowest: var(--OsykaScheme_surfaceContainerLowest),
	surfaceContainerLow: var(--OsykaScheme_surfaceContainerLow),
	surfaceContainer: var(--OsykaScheme_surfaceContainer),
	surfaceContainerHigh: var(--OsykaScheme_surfaceContainerHigh),
	surfaceContainerHighest: var(--OsykaScheme_surfaceContainerHighest),
	onSurface: var(--OsykaScheme_onSurface),
	surfaceVariant: var(--OsykaScheme_surfaceVariant),
	onSurfaceVariant: var(--OsykaScheme_onSurfaceVariant),
	inverseSurface: var(--OsykaScheme_inverseSurface),
	inverseOnSurface: var(--OsykaScheme_inverseOnSurface),
	outline: var(--OsykaScheme_outline),
	outlineVariant: var(--OsykaScheme_outlineVariant),
	shadow: var(--OsykaScheme_shadow),
	scrim: var(--OsykaScheme_scrim),
	surfaceTint: var(--OsykaScheme_surfaceTint),
	primary: var(--OsykaScheme_primary),
	onPrimary: var(--OsykaScheme_onPrimary),
	primaryContainer: var(--OsykaScheme_primaryContainer),
	onPrimaryContainer: var(--OsykaScheme_onPrimaryContainer),
	inversePrimary: var(--OsykaScheme_inversePrimary),
	secondary: var(--OsykaScheme_secondary),
	onSecondary: var(--OsykaScheme_onSecondary),
	secondaryContainer: var(--OsykaScheme_secondaryContainer),
	onSecondaryContainer: var(--OsykaScheme_onSecondaryContainer),
	tertiary: var(--OsykaScheme_tertiary),
	onTertiary: var(--OsykaScheme_onTertiary),
	tertiaryContainer: var(--OsykaScheme_tertiaryContainer),
	onTertiaryContainer: var(--OsykaScheme_onTertiaryContainer),
	error: var(--OsykaScheme_error),
	onError: var(--OsykaScheme_onError),
	errorContainer: var(--OsykaScheme_errorContainer),
	onErrorContainer: var(--OsykaScheme_onErrorContainer),
	primaryFixed: var(--OsykaScheme_primaryFixed),
	primaryFixedDim: var(--OsykaScheme_primaryFixedDim),
	onPrimaryFixed: var(--OsykaScheme_onPrimaryFixed),
	onPrimaryFixedVariant: var(--OsykaScheme_onPrimaryFixedVariant),
	secondaryFixed: var(--OsykaScheme_secondaryFixed),
	secondaryFixedDim: var(--OsykaScheme_secondaryFixedDim),
	onSecondaryFixed: var(--OsykaScheme_onSecondaryFixed),
	onSecondaryFixedVariant: var(--OsykaScheme_onSecondaryFixedVariant),
	tertiaryFixed: var(--OsykaScheme_tertiaryFixed),
	tertiaryFixedDim: var(--OsykaScheme_tertiaryFixedDim),
	onTertiaryFixed: var(--OsykaScheme_onTertiaryFixed),
	onTertiaryFixedVariant: var(--OsykaScheme_onTertiaryFixedVariant),
}

OsykaSchemeApply(bg, fg)
	fill: OsykaSchemeDict[fg]
	color: OsykaSchemeDict[fg]
	background-color: OsykaSchemeDict[bg]