// Copyright (c) 2024 Osyah
// SPDX-License-Identifier: MIT

@import './osyka_scheme.styl'
@import './osyka_shape.styl'

.OsykaShell
	width 100%
	height 100vh
	OsykaSchemeApply(surfaceContainer, onSurface)
	overflow: scroll
.OsykaShell_header
	top 0
	position sticky
	padding 1rem
.OsykaShell_hor
	position relative
	max-width 60rem
	margin 0 auto
	display flex
	flex-direction column
	padding 1rem
.OsykaShell_main
	OsykaSchemeApply(surface, onSurface)
	OsykaShapeApply(lg)
	padding 1rem
@media (min-width 90rem)
	.OsykaShell_main
		OsykaShapeApply(xl)
		padding 2rem
	.OsykaShell_aside
		position absolute
		left -15rem
	.OsykaShell_hor
		padding 0