// Copyright (c) 2024 Osyah
// SPDX-License-Identifier: MIT

OsykaShapeDict = {
	none: 0,
	xs: var(--OsykaShape_xs),
	xsTop: var(--OsykaShape_xs) var(--OsykaShape_xs) 0 0,
	sm: var(--OsykaShape_sm),
	md: var(--OsykaShape_md),
	lg: var(--OsykaShape_lg),
	lgTop: var(--OsykaShape_lg) var(--OsykaShape_lg) 0 0,
	lgStart: var(--OsykaShape_lg) 0 0 0,
	lgEnd: 0 var(--OsykaShape_lg) 0 0,
	xl: var(--OsykaShape_xl),
	xlTop: var(--OsykaShape_xl) var(--OsykaShape_xl) 0 0,
	full: 50%,
}

OsykaShapeApply(size)
	border-radius OsykaShapeDict[size]

:root
	--OsykaShape_xs 4px
	--OsykaShape_sm 8px
	--OsykaShape_md 12px
	--OsykaShape_lg 16px
	--OsykaShape_xl 28px