// Copyright (c) 2024 Osyah
// SPDX-License-Identifier: MIT

OsykaMotionDuration = {
	xl1: 700ms,
	xl2: 800ms,
	xl3: 900ms,
	xl4: 1000ms,
	lg1: 450ms,
	lg2: 500ms,
	lg3: 550ms,
	lg4: 600ms,
	md1: 250ms,
	md2: 300ms,
	md3: 350ms,
	md4: 400ms,
	sm1: 50ms,
	sm2: 100ms,
	sm3: 150ms,
	sm4: 200ms,
}

OsykaMotionEasing = {
	emphasized: cubic-bezier(0.2, 0, 0, 1),
	emphasizedAcc: cubic-bezier(0.3, 0, 0.8, 0.15),
	emphasizedDec: cubic-bezier(0.05, 0.7, 0.1, 1),
	linear: linear,
	standard: cubic-bezier(0.2, 0, 0, 1),
	standardAcc: cubic-bezier(0.3, 0, 1, 1),
	standardDec: cubic-bezier(0, 0, 0, 1),
}